* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;
    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;
    --danger: #FF5959;
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;
    --shape-background: #121516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;
    --text-body: #C8CDD0;
    --text-heading: #F9F9F9; 
    --logo: normal 2.5rem/1 Leckerli One, sans-serif;
    --heading-md: bold 1.75rem/1 Baloo2, sans-serif;
    --heading-sm: bold 1.125rem/1 Baloo2, sans-serif;
    --body-md: 600 1rem/1 OpenSans, sans-serif;
    --body-sm: 600 0.875rem/1 OpenSans, sans-serif;
    --body-xs: 600 0.75rem/1 OpenSans, sans-serif;
}

html {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1280px;
    height: 768px;
    gap: 20px;
    background-color: var(--shape-background);
    border-radius: 20px;
}

.image img:nth-child(4), .image h1, .image span {
    display: flex;
    position: absolute;
    z-index: 1;
}

.image img:nth-child(4) {
    top: 52px;
    left: 52px;
    width: 48px;
    height: 48px;
}

.image h1 {
    color: var(--pink);
    font: var(--logo);
    top: 122px;
    left: 52px;
}

.image span {
    color: var(--text-heading);
    top: 174px;
    left: 52px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.image img:nth-child(3) {
    display: flex;
    position: relative;
    height: 728px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.container {
    width: 820px;
    height: 45.5rem;
    border-radius: 12px;
    background-color: var(--shape-body);
    padding-top: 80px;
    padding-left: 120px;
    padding-right: 120px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.container::-webkit-scrollbar {
    display: none;
}

.container h1 {
    color: var(--text-heading);
    font: var(--heading-md);
    margin-bottom: 20px;
}

.container img[src="/assets/icons/calendar.svg"] {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.form-about {
    display: flex;
    flex-direction: column;
}

.flex-row {
    padding-top: 40px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-row h2 {
    color: var(--text-heading);
    font: var(--heading-sm);
}

.form-about form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-about label {
    font: var(--body-sm);
    color: var(--text-body);
}

.form-about input {
    color: var(--text-body);
    padding-left: 16px;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
    height: 48px;
}

.form-about textarea {
    padding-left: 16px;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
    height: 136px;
    padding-top: 16px;
}

textarea::placeholder {
    font: var(--body-sm);
    color: var(--input-placeholder);
    font-weight: 100;
}

input::placeholder {
    font: var(--body-sm);
    color: var(--input-placeholder);
    font-weight: 100;
}

.date, .radio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

