* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;
    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;
    --danger: #FF5959;
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;
    --shape-background: #121516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;
    --text-body: #C8CDD0;
    --text-heading: #F9F9F9; 
    --logo: normal 2.5rem/1 "Leckerli One", sans-serif;
    --heading-md: bold 1.75rem/1 "Baloo 2", sans-serif;
    --heading-sm: bold 1.125rem/1 "Baloo 2", sans-serif;
    --body-md: 400 1rem/1 "Open Sans", sans-serif;
    --body-sm: 400 0.875rem/1 "Open Sans", sans-serif;
    --body-sm-t: 200 0.875rem/1 "Open Sans", sans-serif;
    --body-xs: 400 0.75rem/1 "Open Sans", sans-serif;
}

html {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100vh;
}

body {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1280px;
    height: 768px;
    gap: 20px;
    background-color: var(--shape-background);
    border-radius: 20px;
}

.image img:nth-child(4), .image h1, .image span {
    display: flex;
    position: absolute;
    z-index: 1;
}

.image img:nth-child(4) {
    top: 52px;
    left: 52px;
    width: 48px;
    height: 48px;
}

.image h1 {
    color: var(--pink);
    font: var(--logo);
    top: 122px;
    left: 52px;
}

.image span {
    color: var(--text-heading);
    top: 174px;
    left: 52px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.image img:nth-child(3) {
    display: flex;
    position: relative;
    height: 728px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.container {
    width: 820px;
    height: 45.5rem;
    border-radius: 12px;
    background-color: var(--shape-body);
    padding-top: 90px;
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 80px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.container::-webkit-scrollbar {
    display: none;
}

.container h1 {
    color: var(--text-heading);
    font: var(--heading-md);
}

.container img[src="./assets/icons/calendar.svg"], .container img[src="./assets/icons/paintbrush-vertical.svg"] {
    width: 24px;
    height: 24px;
    margin-right: 12px;
}

.form-about {
    display: flex;
    flex-direction: column;
}

.flex-row {
    padding-top: 50px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-row2 {
    padding-top: 48px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-row h2 {
    color: var(--text-heading);
    font: var(--heading-sm);
}

.flex-row2 h2 {
    color: var(--text-heading);
    font: var(--heading-sm);
}

.form-about form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-about label {
    font: var(--body-sm);
    color: var(--text-body);
}

.form-about input {
    color: var(--text-body);
    padding-left: 16px;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
    height: 48px;
}

.form-about textarea {
    padding-left: 16px;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
    height: 136px;
    padding-top: 16px;
    resize: none;
}

input:focus{
    border-color: var(--brand-light);
    outline: none;
    transition: all 0.3s ease;
}

textarea:focus{
    border-color: var(--brand-light);
    outline: none;
    transition: all 0.3s ease;
}

textarea::placeholder {
    font: var(--body-md);
    color: var(--input-placeholder);
}

input::placeholder {
    font: var(--body-md);
    color: var(--input-placeholder);
}

.date, .radio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

input[type="datetime-local"] {
    font: var(--body-md);
    color: var(--input-placeholder);
    text-transform: uppercase;
}

#icon {
    width: 16px;
    height: 16px;
}

.toggle-group {
    position: relative;
    display: flex;
    width: 272px;
    height: 48px;
    background: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
    padding: 4px;
    gap: 4px;
    align-items: center;
    justify-content: space-between;
}

.slider {
    position: absolute;
    width: 130px;
    height: 40px;
    background: var(--shape-button);
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
    left: 4px;
}

.toggle-group input {
    display: none;
}

.toggle-group label {
    position: relative;
    width: 130px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font: var(--body-sm-t);
    color: var(--text-body);
    cursor: pointer;
    z-index: 2;
}

#online:checked ~ .slider {
    transform: translateX(132px);
}

#presencial:checked ~ label[for="presencial"],
#online:checked ~ label[for="online"] {
    font: var(--body-sm);
    color: var(--text-heading);
}

.icon2 {
    display: none;
}

#presencial:checked ~ label[for="presencial"] .icon2,
#online:checked ~ label[for="online"] .icon2 {
    display: block;
}

#presencial:checked ~ label[for="presencial"] .icon1,
#online:checked ~ label[for="online"] .icon1 {
    display: none;
}